body {
  background-color: #1a1a1a;
}
.title {
  font-family:  Smooch Sans;
  font-size: 5em;
  text-align:  center;
  text-emphasis-color: red;
  color: #00664b;
  text-shadow: 2px 2px black;
  text
}
