html{
  scroll-behavior: smooth;
  background-color: #1a1a1a;
}
body {
  background-color: #1a1a1a;
}
.title {
  font-size: 5em;
  color: #00664b;
  text-shadow: 2px 2px black;
}

.dropdownbutton{
  font-size: 2em;
  color: lightgrey;
  text-shadow: 1px 1px black;
  border-radius: 5px;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.3);
    transition: .5s;
}
.dropdown{
  margin-left: 40%;
  width: 20%;
  position: relative;
  display: inline-block;
}
.dropdown-content{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  text-shadow: 1px 1px black;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 100%;
  overflow: auto;
  border-radius: 0px 0px 5px 5px;
  transition: .5s;
}
.dropdown-content button{
  color: black;
  text-shadow: 1px 1px lightgrey;
  font-family: Smooch sans;
  font-size: 1.5em;
  text-decoration: none;
  width: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
}
.dropdown-content button:hover {
  color: white;
  text-shadow: 1px 1px black;
  background-color: rgba(255, 255, 255, 0.3);
}
.button-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 2;
}
.dropdown-content button:hover .button-content{
  visibility:visible;
  opacity: 100;
}
.dropdown:hover .dropdown-content{
  visibility:visible;
  opacity: 100;
  border-radius: 0px 0px 5px 5px;
  transition: .5s;
}
.dropdown:hover .dropdownbutton{
  color: #1a1a1a;
  text-shadow: 1px 1px white;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px 5px 0px 0px;
    transition: .5s;
}
.drumbutton-1{
  margin-right: auto;
}
.text{
  font-size: 3em;
  color: grey;
  text-align: center;
  text-shadow: 1px 1px black;
}

.footer{
  text-align: right;
}
#top{
    font-family:  Smooch Sans;
    text-align:  center;
}
a#top-button{
  padding: 2px;
  color: lightgrey;
  text-decoration: none;
  font-size: 2em;
  border-style: none;
  border-radius: 10px;
  border-color: lightgrey;
  background-color: rgba(0, 0, 0, 0.3);
  font-family:  Smooch Sans;
  text-align:  center;
}
.drum{
  color: lightgrey;
  width: 100%;
  height: 10em;
  background-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-radius: 10px;
  border-color: lightgrey;
}
.drum:hover{
  color: lightgrey;
  width: 100%;
  height: 10em;
  background-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-radius: 10px;
  border-color: lightgrey;
}
.drum-1, .drum-2, .drum-3, .drum-4, .drum-5, .drum-6, .drum-7, .drum-8, .drum-9{
  float: left;
     width: 15%;
     height:inherit;
     margin-right: 2%;
     padding: 20px;
     box-sizing: border-box;
}
.drum-3, .drum-6, .drum-9{
  margin-right: 25%;
}
.drum-1, .drum-4, .drum-7{
  margin-left: 25%;
}
button{
  cursor: pointer;
}
button:active{
  cursor:crosshair;
}
.loop-start-button{
  background-image: -webkit-linear-gradient(#00ff00,#006600);
  width: 100%;
}
.loop-pause-button{
  background-image: -webkit-linear-gradient(#ff0000,#660000);
  width: 100%;
}
.loop-start{
  margin: auto;
  width: 10%;
}




.hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 2;
}
.shown {
  margin-left: auto;
  visibility: visible;
  display: flex;
  opacity: 100;
}